
nav {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
    padding: 27px 49px;
    border-bottom: 2px solid black;
  }
  a {
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    opacity: 0.8;
    transition: 0.3s;
  }
  a:hover{
      color: rgb(51, 211, 2);
      transform: translate(0, -2px);
      opacity: 1;
  }